.celdas-aqua{
    background-color: aqua;
    font-size: large;
    color: white;
}

table th {
    color: rgb(63, 63, 160);
}

button{
    color: rgb(212, 46, 46);
}

button:hover{
    background-color:lawngreen;
}

#button1{
    background-color: aqua;
    font-size: large;
    color: black;
}